@charset "utf-8";

/* IMPORTs
 *--------------------------------*/
@import url(geral-default.css);
@import url(geral-bloco.css);


/* SEÇÃO DE CADASTRO
 *-----------------------------*/
.lk-login{
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid rgba(0,0,0,.1);
}
.lk-login a{
	color: rgba(0,0,0,.5);
}
.lk-login a:hover{
	color: #f39c12;
}
.row.termos{
	padding: 10px 0;
	font-size: 13px;
}
.row.termos small a{
	color: #f39c12;
}


/* BREACKPOINTS MÁXIMOS - MOBILE
 *--------------------------------*/
@media (max-width: 450px){
	/*Bloco Cadastrar*/
	.col-2{
		display: block;
		width: 100%;
		margin-right: 0;
	}
	.col-2:nth-child(2){padding-top: 10px;}
}