@charset "utf-8";

/* RESET
 *-----------------------------*/
body{
	background: #fff;
}
h1{font-size: 30px}
.article h2{font-size: 22px; font-family: Comfortaa}
.article h3{font-size: 18px;}
.article p{font-size: 18px; line-height: 2;}
.content-article{
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
}


/* BANNER PRINCIPAL
 *-----------------------------*/
 .banner-principal{
	padding: 50px 30px;
	line-height: 1.5;
 }
 .banner-principal h1{
	font-size: 30px
}



/* DESCRIÇÃO DO ARTIGO DEV
 *-----------------------------*/
 .section{
	 color: #222f3e;
 }
 .article{
 	padding: 30px 0;
 }
.article-bloco:not(:first-of-type){
	padding-top: 30px;
}
.article-bloco h2{
	padding-bottom: 15px;
}
.article-bloco ul li{
	margin-bottom: 15px;
}