@charset "utf-8";

/* IMPORTs
 *--------------------------------*/
@import url(geral-default.css);


/* SEÇÃO DO BANNER PRINCIPAL
 *--------------------------------*/
.section-box {
	float: left;
	width: 100%;
	background-color: #130f40;
}

/*Box de Cabeçalho com Descrição*/
.box-content {
	padding: 30px 20px;
	max-width: 70%;
	margin: 0 auto;
}

.section-box .tagline {
	margin-top: 10px;
	font-size: 22px;
}

.section-box .row-btn {
	margin-top: 40px;
	width: 100%;
}

.row-btn .btn-destaque {
	font-size: 20px;
}

.box-content-info {
	margin-top: 40px;
	padding: 10px;
	background-color: rgba(142, 68, 173, .1);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

/* Box do Banner */
.box-img {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 960px;
	max-height: 420px;
}

.box-btn {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.box-btn-mudar {
	width: 40px;
	height: 100px;
	background-color: rgba(0, 0, 0, .1);
	border: none;
}

.box-btn-mudar:hover {
	background-color: rgba(0, 0, 0, .2);
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.box-btn-mudar:first-child {
	float: left;
	margin-left: 10px;
}

.box-btn-mudar:last-of-type {
	float: right;
	margin-right: 10px;
}


#barra-intervalo {
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
	height: 3px;
}

#temporizador {
	width: 0;
	height: 100%;
	background-color: rgb(209, 133, 10);
	border-top-right-radius: 1.5px;
	border-bottom-right-radius: 1.5px;
}

.box-img-banner,
.box-img-banner img {
	width: 100%;
	height: 100%;
}


/* SEÇÃO DE BENEFÍCIOS
 *--------------------------------*/
.beneficios {
	background: #fff;
	text-align: center;
}

.beneficios-conteudo {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
}

.beneficios-conteudo a {
	color: #222f3e;
}

.conteudo-bloco-item {
	float: left;
	padding: 40px 20px;
}

.conteudo-bloco-item .item-icon img {
	width: 70px;
	height: 70px;
}

.item-descricao {
	font-size: inherit;
}


/* COMENTÁRIOS
-------------------------------------*/
.comentarios {
	color: #222f3e;
	background-color: rgba(236, 240, 241, .4);
}

.comentarios-article {
	float: left;
	width: 100%;
	font-size: 12px;
	padding: 40px 10px;
	margin-bottom: 0;
}

.comentarios-article h1 {
	font-size: 16px;
	font-weight: normal;
	padding-left: 12px;
	margin-top: 15px;
	border-left: 5px solid rgba(243, 156, 18, .5);
}

.comentarios-article .image {
	overflow: hidden;
	float: left;
	margin-right: 10px;
	width: 83px;
	height: 83px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.comentarios-article p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 83px;
}

.comentarios-article p .name {
	color: #f39c12;
	font-weight: bold;
}


/* BREACKPOINTS MÁXIMOS - MOBILE
 *--------------------------------*/
@media (max-width: 767.9px) {

	/*Seção de Benefícios*/
	.conteudo-bloco-item {
		width: calc(100% / 4);
		margin-right: 0;
		padding: 0;
	}

	.conteudo-bloco-item div.item {
		padding: 20px 10px;
	}

	.conteudo-bloco-item .item-icon img {
		width: 45px;
		height: 45px;
	}

	.item-descricao {
		max-width: 200px;
		margin: 0 auto;
		font-size: 11px;
	}
}

@media (max-width: 560px) {

	/* Seção do Banner Principal */
	.box-content {
		max-width: 100%;
	}

	/*Seção de Benefícios*/
	.conteudo-bloco-item {
		width: 100%;
	}

	.conteudo-bloco-item .item-icon img {
		width: 70px;
		height: 70px;
	}

	.item-descricao {
		font-size: inherit;
	}
}


/* BREACKPOINTS MÍNIMOS - DESKTOP
 *--------------------------------*/
@media (min-width: 768px) {

	/*Seção de Benefícios*/
	.conteudo-bloco-item {
		width: calc(100% / 4);
		margin-right: 0;
	}

	.conteudo-bloco-item:hover {
		background-color: #ffda79;
		color: #d35400;
		transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
	}

	/*comentarios*/
	.comentarios-article {
		width: calc((100% - 8%) / 3);
		margin-right: 4%;
		padding: 90px 20px;
	}

	.comentarios-article:last-of-type {
		margin-right: 0;
	}
}

@media (min-width: 900px) {

	/* Seção do Banner Principal */
	.box-content {
		width: 35%;
		margin: auto;
	}

	.box-content,
	.box-img {
		float: left;
	}

	.box-img {
		width: 65%;
	}
}