@charset "utf-8";

/* IMPORTs
-----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans');



/* RESET
-----------------------------------*/
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Comfortaa', sans-serif;
}



/* GERAL
-----------------------------------*/



/* BARRA LATERAL DE MENU
-----------------------------------*/
.barra-lateral-menu{
    position: fixed;
    float: left;
    width: 20%;
    height: 100%;
    background-color: yellow;
}



/* CONTEÚDO PRINCIPAL DO SYSEVENT
-----------------------------------*/
.conteudo-principal{
    float: right;
    width: 80%;
    height: 100%;
    background-color: red;
}