<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Política de Privacidade</title>
    <link rel="stylesheet" type="text/css" href="../templates/css/geral-artigo.css">
</head>

<body>
    <!-- Início BARRA MENU -->
    <header class="header">
        <div class="content">
            <div class="logo fl-left">
                <a href="../../index.html">
                    <span style="color:#f39c12">Sys</span><span style="color:#fff">Event</span>
                </a>
            </div>

            <a href="#" class="nav-toggle fl-right">
                <img src="../templates/icons/menu-mobile.png">
            </a>

            <div id="bg" class=""></div>

            <nav class="nav">
                <p class="fl-right">
                    <span class="nav-close">
                        <img src="../templates/icons/close.png">
                    </span>
                </p>
                <ul>
                    <li><a href="../../como-usar.html">Como usar</a></li>
                    <li><a href="../../devs.html">Devs</a></li>
                    <li><a href="../../perguntas-frequentes.html">Perguntas frequentes</a></li>
                    <li><a href="../users/login.php">Entrar</a></li>
                    <li><a href="../users/cadastro.php" class="btn-destaque">Cadastre-se</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Fim BARRA MENU -->

    <!-- Início BANNER PRINCIPAL -->
    <section class="section">
        <div class="section-box">
            <div class="content banner-principal">
                <h1>Respeitamos a sua privacidade e achamos importante que você saiba quais informações coletamos sobre
                    você.</h1>
            </div>
        </div>
    </section>
    <!-- Fim BANNER PRINCIPAL -->

    <!-- Início DESCRIÇÃO DO ARTIGO DEV -->
    <section class="section">
        <div class="content-article">
            <article class="article">
                <div class="article-bloco texto-center">
                    <h1>Política de Privacidade</h1>
                </div>
                <div class="article-bloco">
                    <h2>Tópicos:</h2>
                    <ul class="topicos">
                        <li><a href="#como-entrar-contato">1. Como entrar em contato</a></li>
                        <li><a href="#informacoes-que-coletamos">2. Informações que coletamos</a></li>
                    </ul>
                    <p>Queremos dar as boas-vindas ao SysEvent, um serviço baseado na internet, oferecido por JUAN
                        CLEITON DEV FULL STACK JÚNIOR. Nós respeitamos a sua
                        privacidade e achamos importante que você saiba quais informações coletamos sobre você, o que
                        fazemos com elas e como as utilizamos. Para ajudar no entendimento destes pontos, criamos esta
                        Política de Privacidade, que se aplica a todas as informações que recolhemos ou recebemos de
                        você.</p>
                    <p>É importante lembrar que o site do SysEvent pode conter links para outros endereços eletrônicos,
                        da mesma forma que outros websites podem estar relacionados ao SysEvent ou à marca de um de
                        nossos associados. Estes websites podem possuir políticas de privacidade próprias, diferentes
                        das praticadas pelo SysEvent.</p>
                </div>
                <div id="como-entrar-contato" class="article-bloco">
                    <h2>Como entrar em contato</h2>
                    <p>Caso tenha alguma pergunta relacionada a esta Política de Privacidade ou deseje entrar em
                        contato por outro motivo, mande um e-mail para contato@sysevent.ga e nós responderemos o mais
                        rapidamente possível.</p>
                </div>
                <div id="informacoes-que-coletamos" class="article-bloco">
                    <h2>Informações que coletamos</h2>
                    <p>Informações de Registro. Não há obrigação de inscrição ou fornecimento de quaisquer
                        informações pessoais para visitar nosso website. É provável que lhe ofereçamos a possibilidade
                        de cadastro em nossa lista de e-mails ao navegar pelo nosso website. Para utilizar nosso
                        sistema, solicitaremos que você crie uma conta e forneça alguns dados pessoais, tais
                        como nome completo, e-mail.</p>
                    <p>Em algumas ocasiões, é possível que solicitemos dados adicionais, como profissão, data de
                        nascimento, endereço, sexo, cpf,
                        entre outros. Essas informações serão utilizadas de maneira agregadas, a fim de permitir ao
                        SysEvent conhecer melhor nossos usuários. O fornecimento dessas informações será sempre
                        opcional.
                    </p>
                    <p>Coleta automática de dados. O SysEvent também coleta algumas informações automaticamente quando o
                        Usuário acessa e utiliza o website, tais como características do dispositivo de acesso, do
                        navegador, Protocolo de Internet (IP, com data e hora), origem do IP, informações sobre
                        cliques, páginas acessadas, as páginas seguintes acessadas após a saída da Plataforma, ou
                        qualquer termo de busca digitado na Plataforma, dentre outros. O SysEvent também poderá utilizar
                        algumas tecnologias padrão para coletar informações do Usuário, tais como cookies, de modo a
                        melhorar sua experiência de navegação.</p>
                </div>
            </article>
        </div>
    </section>
    <!-- Fim DESCRIÇÃO DO ARTIGO DEV -->

    <!-- Início FOOTER -->
    <footer class="footer">
        <div class="content-fluid">
            <div class="row">
                <div class="footer-col">
                    <h1>Fale Conosco</h1>
                    <small>contato@sysevent.ga</small>
                    <ul class="fale-conosco">
                        <li><a href="#">Suporte online</a></li>
                        <li><a href="#">Quero colaborar</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h1>Redes Sociais</h1>
                    <small>Dev e criador do projeto</small>
                    <ul class="sociais">
                        <li><a href="https://www.linkedin.com/in/juancleiton30/" target="_blank" title="Perfil do criador do projeto">Linked
                                In</a></li>
                        <li><a href="https://github.com/juancleiton/sysevent" target="_blank" title="Repositório do projeto">Github</a></li>
                        <li><a href="https://www.facebook.com/juancleiton30" target="_blank" title="Perfil do criador do projeto">Facebook</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h1>SysEvent &copy 2018</h1>
                    <small>Todos os direitos reservados</small>
                    <ul class="legal">
                        <li><a href="termos-uso.html">Termos de Uso</a></li>
                        <li><a href="privacidade.html">Privacidade</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fim FOOTER -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../templates/js/geral-default.js"></script>
</body>

</html>