<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Termos de Uso</title>
	<link rel="stylesheet" type="text/css" href="../templates/css/geral-artigo.css">
</head>

<body>
	<!-- Início BARRA MENU -->
	<header class="header">
		<div class="content">
			<div class="logo fl-left">
				<a href="../../index.html">
					<span style="color:#f39c12">Sys</span><span style="color:#fff">Event</span>
				</a>
			</div>

			<a href="#" class="nav-toggle fl-right">
				<img src="../templates/icons/menu-mobile.png">
			</a>

			<div id="bg" class=""></div>

			<nav class="nav">
				<p class="fl-right">
					<span class="nav-close">
						<img src="../templates/icons/close.png">
					</span>
				</p>
				<ul>
					<li><a href="../../como-usar.html">Como usar</a></li>
					<li><a href="../../devs.html">Devs</a></li>
					<li><a href="../../perguntas-frequentes.html">Perguntas frequentes</a></li>
					<li><a href="../users/login.php">Entrar</a></li>
					<li><a href="../users/cadastro.php" class="btn-destaque">Cadastre-se</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Fim BARRA MENU -->

	<!-- Início BANNER PRINCIPAL -->
	<section class="section">
		<div class="section-box">
			<div class="content banner-principal">
				<h1>Oferecemos sempre o melhor para você, por isso precisamos garantir o bem-estar de nosso software.</h1>
			</div>
		</div>
	</section>
	<!-- Fim BANNER PRINCIPAL -->

	<!-- Início DESCRIÇÃO DO ARTIGO DEV -->
	<section class="section">
		<div class="content-article">
			<article class="article">
				<div class="article-bloco texto-center">
					<h1>Termos de Uso</h1>
				</div>
				<div class="article-bloco">
					<h2>Tópicos:</h2>
					<ul class="topicos">
						<li><a href="#aceitacao">1. Aceitação</a></li>
						<li><a href="#servico">2. Serviço</a></li>
						<li><a href="#conta-sysevent">3. Conta do SysEvent</a></li>
						<li><a href="#permissoes-restricoes">4. Permissões e Restrições</a></li>
						<li><a href="#uso-conteudo">5. Uso do Conteúdo</a></li>
						<li><a href="#politica-cancelamento-conta">6. Política de cancelamento de conta</a></li>
					</ul>
					<p>Ao utilizar nosso serviços você concorda que utilizemos cookies e outras
						fontes de coletas de informações utilizadas pelo SysEvent. Não disponibilizaremos seus dados publicamente. Não nos responsabilizamos em implementar
						camadas de segurança de dados que venha de um meio externo.</p>
				</div>
				<div id="aceitacao" class="article-bloco">
					<h2>1. Aceitação</h2>
					<p>1.1 Ao usar o sistema ou visitar o site você manifesta a sua
						concordância com estes termos e condições de uso. Se você não concordar com os termos e condições de uso, não
						deverá utilizar o Serviço.</p>
					<p>1.2 Embora nós nos esforcemos para avisar a você sobre mudanças importantes nestes Termos de Serviço, você deve
						reler periodicamente a versão mais atualizada. O SysEvent pode, a seu exclusivo critério, modificar ou revisar
						estes Termos de Serviço e suas políticas a qualquer tempo, e você concorda em cumprir tais modificações ou
						revisões. Nada nestes Termos de Serviço será tido como concessão de quaisquer direitos ou benefícios a terceiros.</p>
				</div>
				<div id="servico" class="article-bloco">
					<h2>2. Serviço</h2>
					<p>2.1 O Serviço pode conter links para websites de terceiros que não pertencem nem são controlados pelo SysEvent.
						O
						SysEvent não tem controle, e não assume responsabilidade pelo conteúdo, políticas de privacidade ou práticas de
						qualquer site de terceiros. Além disso, o SysEvent não pode e não vai censurar nem editar o conteúdo de qualquer
						site de terceiros. Ao usar o Serviço, Você expressamente isenta o SysEvent de toda e qualquer responsabilidade
						derivada do seu uso de qualquer site de terceiros.</p>
					<p>2.2 Consequentemente, aconselhamos você a ter ciência ao sair do serviço, e ler os termos e condições e a
						política de privacidade de todos os outros sites que você visitar.</p>
				</div>
				<div id="conta-sysevent" class="article-bloco">
					<h2>3. Conta do SysEvent</h2>
					<p>3.1 Para acessar alguns conteúdos do serviço, você terá que criar uma conta no SysEvent. Você jamais poderá
						usar a
						conta de outro usuário sem permissão. Ao criar sua conta, você deve fornecer dados precisos e completos. Você é o
						único responsável pela atividade que ocorre em sua conta, e você deve guardar a senha de sua conta em local
						seguro. Em caso de violação de segurança ou uso não autorizado de sua conta, notifique imediatamente nossa
						equipe,
						pelo e-mail contato@sysevent.ga</p>
					<p>3.2 Embora o SysEvent não seja responsável por qualquer perda causada à você pelo uso não autorizado de sua
						conta,
						você poderá ser responsabilizado pelas perdas do SysEvent ou de outros oriundas de tal uso não autorizado.</p>
				</div>
				<div id="permissoes-restricoes" class="article-bloco">
					<h2>4. Permissões e Restrições</h2>
					<p>Por meio deste termo, o SysEvent concede a você permissão para acessar e usar o serviço conforme descrito,
						considerando que:</p>
					<p>4.1 Você concorda em não alterar, nem modificar qualquer parte do serviço.</p>
					<p>4.2 Você concorda em não usar ou lançar qualquer sistema automatizado, inclusive, mas sem se limitar a "robôs",
						"spiders" ou "offline readers," que acessem o serviço de maneira a enviar mais mensagens de solicitações aos
						servidores do SysEvent em um dado período de tempo do que seja humanamente possível responder no mesmo período
						através de um navegador convencional. Não obstante o acima exposto, o SysEvent concede permissão aos operadores
						de
						mecanismos públicos de busca para usar spiders para copiar materiais do site com a única finalidade de e,
						exclusivamente na medida do necessário, para a criar e disponibilizar índices públicos de materiais pesquisáveis,
						mas não caches ou arquivos de tais materiais. O SysEvent se reserva o direito de revogar estas exceções tanto de
						forma geral ou em casos específicos. Você concorda em não coletar nem colher qualquer informação pessoal,
						incluindo nomes de conta, do serviço, nem utilizar os sistemas de comunicação fornecidos pelo serviço (por
						exemplo: e-mail) para fins de solicitação comercial. Você concorda em não solicitar, para fins
						comerciais, a qualquer usuário do serviço que diz respeito a seu conteúdo.</p>
					<p>4.3 Ao utilizar o serviço, você deverá cumprir com todas as leis e regulamentos aplicáveis, sejam regionais,
						nacionais ou internacionais.</p>
					<p>4.4 O SysEvent se reserva o direito de descontinuar qualquer aspecto do Serviço a qualquer tempo.</p>
				</div>
				<div id="uso-conteudo" class="article-bloco">
					<h2>5. Uso do Conteúdo</h2>
					<p>Além das restrições gerais acima expostas, as seguintes restrições e condições se aplicam especificamente ao
						uso do conteúdo.</p>
					<p>5.1 O conteúdo do serviço e as marcas registradas, marcas de serviço e logos ("Marcas") no serviço, são de
						propriedade ou licenciadas para o SysEvent, sob reserva de direitos autorais e outros direitos de propriedade
						intelectual nos termos da lei.</p>
					<p>5.2 O conteúdo é oferecido a você NO ESTADO EM QUE SE ENCONTRA. Você pode acessar o Conteúdo para sua
						informação e uso pessoal exclusivamente dentro da funcionalidade fornecida pelo Serviço e, conforme permitido
						nestes Termos de Serviço. Você não poderá baixar qualquer conteúdo, a menos que você veja um "download" ou por um
						link similar exibido pelo SysEvent no Serviço para esse Conteúdo. Você não poderá copiar, reproduzir, distribuir,
						transmitir, exibir, vender, licenciar ou explorar qualquer conteúdo para quaisquer outros fins sem o prévio
						consentimento escrito do SysEvent ou os licenciadores do respectivo Conteúdo. O SysEvent e os seus licenciadores
						reservam todos os direitos que não estejam expressamente cedidos no e para o Serviço e para o Conteúdo.</p>
					<p>5.3 O usuário concorda em não fraudar, desativar ou de qualquer forma interferir em características
						relacionadas à segurança do Serviço ou características que evitem ou restrinjam o uso ou a cópia de qualquer
						Conteúdo ou imponham limitações sobre o uso do Serviço ou de seu Conteúdo.</p>
					<p>5.4 Você entende que ao utilizar o serviço, você estará exposto ao conteúdo de diversas fontes, e que o
						SysEvent não se responsabiliza pela precisão, utilidade, segurança ou propriedade intelectual próprias ou
						relacionadas a esse Conteúdo. Você concorda em renunciar, como o faz de fato, a qualquer direito ou indenização
						legal ou justa, presente ou futura, contra o SysEvent em relação a esses temas, e , na medida do permitido por
						lei, concorda em indenizar e isentar o SysEvent, seus Proprietários, Operadores, afiliadas, licenciadores e
						licenciados, na medida máxima permitida por lei, em relação a todos os assuntos relativos ao uso do serviço.</p>
				</div>
				<div id="politica-cancelamento-conta" class="article-bloco">
					<h2>6. Política de cancelamento de conta</h2>
					<p>6.1 O SysEvent cancelará o acesso do usuário ao serviço se, em circunstâncias adequadas, o usuário se mostrar
						um
						infrator contumaz. Infrator contumaz é o usuário que foi notificado de sua atividade infratora mais que duas
						vezes.</p>
					<p>6.2 O SysEvent se reserva o direito de decidir se o Conteúdo é apropriado e obedece a estes Termos de Serviço
						no que diz respeito a infrações outras que não as infrações ou violações das leis de direitos autorais, como por
						exemplo, mas sem se limitar, à pornografia, material obsceno ou difamatório, (inclusive difamação, calúnia ou
						injúria), ou excessivamente longo. O SysEvent poderá a qualquer momento, sem aviso prévio e a seu exclusivo
						critério, remover tais Conteúdos e/ou cancelar uma conta de Usuário por enviar tais materiais que violam os
						Termos de Serviço.</p>
				</div>
			</article>
		</div>
	</section>
	<!-- Fim DESCRIÇÃO DO ARTIGO DEV -->

	<!-- Início FOOTER -->
	<footer class="footer">
		<div class="content-fluid">
			<div class="row">
				<div class="footer-col">
					<h1>Fale Conosco</h1>
					<small>contato@sysevent.ga</small>
					<ul class="fale-conosco">
						<li><a href="#">Suporte online</a></li>
						<li><a href="#">Quero colaborar</a></li>
					</ul>
				</div>

				<div class="footer-col">
					<h1>Redes Sociais</h1>
					<small>Dev e criador do projeto</small>
					<ul class="sociais">
						<li><a href="https://www.linkedin.com/in/juancleiton30/" target="_blank" title="Perfil do criador do projeto">Linked
								In</a></li>
						<li><a href="https://github.com/juancleiton/sysevent" target="_blank" title="Repositório do projeto">Github</a></li>
						<li><a href="https://www.facebook.com/juancleiton30" target="_blank" title="Perfil do criador do projeto">Facebook</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h1>SysEvent &copy 2018</h1>
					<small>Todos os direitos reservados</small>
					<ul class="legal">
						<li><a href="termos-uso.html">Termos de Uso</a></li>
						<li><a href="privacidade.html">Privacidade</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Fim FOOTER -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../templates/js/geral-default.js"></script>
</body>

</html>